body {
  margin: 0;
  background-color: #eeeeee;
  font-family: Arial, sans-serif;
}

header {
  background-color: #8b1c1c;
  text-align: center;
  padding: 40px 20px;
  color: white;
}

.logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px auto;
  object-fit: cover;
}
body {
  background-color: lime !important;
}
.logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-color: black;
}
